
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */
header {
    display: flex;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}


header.shrink {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-left: 100px;
}

header nav {
    margin-right: 100px;
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration:  none;
    color: black;
    padding: 0 7px;
    border-radius: 5px;
    transition: all .15s ease;
}

header nav a.active {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
}

header nav a:hover {
    background-color: black;
    color: white;
}

#toggle-icon {
    display: none;
    transition: all .2s ease;
}

@media (max-width: 767px) {
    /* Toggle icon styling */
    #toggle-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
        z-index: 1000; /* Keep toggle icon on top */
    }

    /* Header Title */
    header h1 {
        margin-left: 20px;
        font-size: 28px;
    }

    /* Navigation Links */
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        text-align: center;
        background: #ffffff; /* Solid background for simplicity */
        transition: height 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-open {
        display: flex;
    }

    .nav-links a {
        display: block;
        color: rgb(0, 0, 0);
        padding: 10px;
        margin: 0 100px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .nav-links a:hover {
        background-color: rgba(7, 7, 7, 0.1); /* Simple hover effect */
        color: black;
    }
}





/* hero section */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 0 20px;
    overflow: hidden;
    background: #f0f0f0;
  }
  
  /* Hero Content Styling */
  .hero-content {
    z-index: 1;
    max-width: 800px;
    color: #333;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #000;
  }
  
  .hero h2 {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  /* Button Styling */
  .hire-btn {
    padding: 15px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hire-btn:hover {
    background-color: #424242;
  }
  
  /* Background Canvas Styling */
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2.5rem;
    }
  
    .hero h2 {
      font-size: 1.8rem;
    }
  
    .hero p {
      font-size: 1rem;
    }
  
    .hire-btn {
      font-size: 1rem;
      padding: 12px 25px;
    }
  }
  

/* about me section */
.about-me {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

#about {
  padding-top: 120px;
}

.about-me h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

/* Container to hold both text and image */
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Text section styling */
.about-text {
    flex: 1;
    padding-right: 20px;
    margin-left: 100px;
   
}

.about-text span {
    line-height: 50px;
    background-color: #464646;
    padding: 5px;
    color: white;
}

.about-text p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Image section styling */
.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
    }

    .about-text {
        padding-right: 0;
        margin-bottom: 20px;
        text-align: justify;
        margin-left: 0;
    }

    .about-image {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .about-me h1 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 0.9rem;
    }
}


/* projects section */
.projects {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

#projects {
  padding-top: 120px;
}

.projects h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.project-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
    text-align: center;
}

.project-info h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.technology-used {
    margin-bottom: 10px;
}

.technology-used i {
    font-size: 1.5rem;
    color: #000000;
    margin: 0 5px;
}

.project-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.project-item a:hover {
    border: 1px solid black;
    background: none;
    color: black;
}

@media (max-width: 768px) {
    .project-item {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .project-item {
        max-width: 100%;
    }
}


/* Skills Section */
/* General Styling for Skills Section */
.skills-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
  }
  
  #skills {
    padding-top: 120px;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
  }
  
  /* Skill Container */
  .skill {
    margin-bottom: 30px;
  }
  
  .skill-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .skill-description {
    font-size: 1rem;
    color: #666;
  }
  
  /* Progress Bar Styling */
  .progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 0 15px;
    height: 25px;
    position: relative;
  }
  
  .progress-fill {
    height: 100%;
    background-color: #000000;
    border-radius: 5px;
    position: relative;
    transition: width 0.4s ease-in-out;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .skill-title {
      font-size: 1.3rem;
    }
  
    .skill-description {
      font-size: 0.9rem;
    }
  
    .progress-bar {
      height: 20px;
    }
  }
  
  @media (max-width: 576px) {
    .section-title {
      font-size: 2rem;
    }
  
    .skill-title {
      font-size: 1.2rem;
    }
  
    .skill-description {
      font-size: 0.8rem;
    }
  
    .progress-bar {
      height: 18px;
    }
  }
  

/* Footer Styles */
.footer {
background-color: #000000;
color: #fff;
padding: 40px 0;
font-family: 'Arial', sans-serif;
}

.footer h3 {
font-size: 1.5rem;
margin-bottom: 15px;
color: #fff;
}

.footer p,
.footer a {
color: #ccc;
font-size: 1rem;
line-height: 1.5;
}

.footer a:hover {
color: #fff;
}

.footer-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 30px;
}

.footer-links ul {
list-style: none;
padding: 0;
}

.footer-links ul li {
margin-bottom: 10px;
}

.footer-links ul li a {
text-decoration: none;
color: #ccc;
}

.footer-links ul li a:hover {
color: #fff;
}

/* Social Media Icons */
.social-icons a {
font-size: 1.5rem;
color: #ccc;
margin-right: 10px;
transition: color 0.3s ease;
}

.social-icons a:hover {
color: #007bff;
}

.footer-bottom {
margin-top: 30px;
text-align: center;
border-top: 1px solid #444;
padding-top: 15px;
}

.footer-bottom p {
font-size: 0.875rem;
}

@media (max-width: 768px) {
.footer-grid {
grid-template-columns: 1fr;
text-align: center;
}

.social-icons {
justify-content: center;
}
}

/* Contact Section Styles */
#contact {
  padding-top: 120px;
}


.contact-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  
  /* Form Styling */
  #contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 95%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }
  
  
  /* Button Styling */
  .btn-submit {
    padding: 12px 20px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #242424;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    h2 {
      font-size: 2rem;
    }
  
    .form-control {
      padding: 10px ;
      font-size: 0.9rem;
      
    }
  
    .btn-submit {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    h2 {
      font-size: 1.8rem;
    }
  
    .form-control {
      padding: 8px;
      font-size: 0.85rem;
    }
  
    .btn-submit {
      font-size: 0.9rem;
      padding: 10px 15px;
    }
  }
  

